/* styles.css */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(120deg, #455d78, #efd1d6);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    width: 350px;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.container button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.container button:hover {
    background-color: #0056b3;
}
